services:
  db:
    image: postgres:16-alpine
    container_name: warehouse-db
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: warehouse_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: